@{
    ViewBag.Title = "Home Page";
}

@{
    string fileUploadId = "fileUpload";
}

<div class="page-header">
    <h1>DSP Processing</h1>
</div>
<div class="container">
    <div id="messages" class="row"></div>
    <div class="row">
        <div class="col-md-2">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select file...</span>
                <input id="@fileUploadId" type="file" name="files" data-url="@Url.Action("Upload", "File")" multiple />
            </span>
        </div>
        <div class="col-md-2">
            <button id="processHandler" class="btn btn-info hidden" data-url="@Url.Action("ProcessFile", "Dsp")">
                <i class="glyphicon glyphicon-play"></i> Process
            </button>
        </div>
        <div class="col-md-8">
            <div id="progress" class="progress margined">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
    <div id="charts" class="row">
    </div>
</div>

@section Scripts {
    <script id="messageTemplate" type="x-tmpl-mustache">
        <div class="alert {{ alertType }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
    </script>
    <script id="chartTemplate" type="x-tmpl-mustache">
        <div id="series_{{ chartNumber }}" class="panel panel-primary">
            <div class="panel-heading">
                {{ chartName }}
            </div>
            <div class="panel-body">
                <div class="row chartCharacteristics">
                    <div class="col-md-2" data-type="minValue">Min Value <span class="label label-default">0.0</span></div>
                    <div class="col-md-2" data-type="maxValue">Max Value <span class="label label-default">0.0</span></div>
                    <div class="col-md-2" data-type="peakFactor">Peak Factor <span class="label label-default">0.0</span></div>
                    <div class="col-md-2" data-type="peekToPeek">Peek To Peek <span class="label label-default">0.0</span></div>
                    <div class="col-md-2" data-type="standardDeviation">Standard Deviation <span class="label label-default">0.0</span></div>
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}">
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}_spectrum">
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}_integral">
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}_integral_spectrum">
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}_double_integral">
                </div>
                <div class="row chartContainer" id="chartContainer_{{ chartNumber }}_double_integral_spectrum">
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(function() {
            var fileUploader = new Dsp.DspFileUploader('fileUpload', 'processHandler', 'messages');
            var chartBuilder = new Dsp.DspChartBuilder('chartContainer_', 'series_', 'processHandler', 'messages');
            var dspService = new Dsp.DspService(fileUploader, chartBuilder);
            dspService.setup();
            window.DSP = {};
            window.DSP.service = dspService;
        })
    </script>
}
