@{
    ViewBag.Title = "Home Page";
}

@{
    string fileUploadId = "fileUpload";
}

<div class="page-header">
    <h1>DSP Processing</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Select file...</span>
                <input id="@fileUploadId" type="file" name="files" data-url="@Url.Action("Upload", "File")" multiple />
            </span>
        </div>
        <div class="col-md-2">
            <button id="processHandler" class="btn btn-info hidden" data-url="@Url.Action("ProcessFile", "Dsp")">
                <i class="glyphicon glyphicon-play"></i> Process
            </button>
        </div>
        <div class="col-md-8">
            <div id="progress" class="progress margined">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
    </div>
    <div id="charts" class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Chart To Display
            </div>
            <div class="panel-body">
                <div class="row chartCharacteristics">
                    <div class="col-md-2">Min Value <span class="label label-default">0.0</span></div>
                    <div class="col-md-2">Max Value <span class="label label-default">0.0</span></div>
                    <div class="col-md-2">Peak Factor <span class="label label-default">0.0</span></div>
                    <div class="col-md-2">Peek To Peek <span class="label label-default">0.0</span></div>
                    <div class="col-md-2">Standard Deviation <span class="label label-default">0.0</span></div>
                </div>
                <div class="row chartContainer" id="chartContainer_01">
                    Chart Container
                </div>
                <div class="row chartContainer" id="chartContainer_02">
                    Spectrum
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            var fileUploader = new Dsp.DspFileUploader('fileUpload', 'processHandler');
            var chartBuilder = new Dsp.DspChartBuilder('charts', 'processHandler');
            var dspService = new Dsp.DspService(fileUploader, chartBuilder);
            dspService.setup();
        })
    </script>
}
